@model IndexViewModel
@{ 
    ViewBag.Title = "Blog website";
    ViewBag.Description = "This blog is My personal blog as an ASP.NET Core 3.1 Project";
    ViewBag.Keywords = "blog programming gaming photography lifestyle music books";
    var base_path = Context.Request.PathBase;
}
<div class="main-img">
    <span class="title">Personal Blog site</span>
</div>

<div class="container">

    <partial name="_BlogPagination" model="Model" />

    @foreach (Post post in Model.Posts)
    {
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            @if (!String.IsNullOrEmpty(post.Image))
            {
                var imagePath = $"{base_path}/Image/{post.Image}";
                <img src="@imagePath" />
            }

            <span class="title"> @post.Title </span>

        </a>


        <div class="post-body">
            @Html.Raw(post.Body)
        </div>

    }

    <partial name="_BlogPagination" model="Model" />

</div>